<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsrServlet</servlet-name>
        <servlet-class>controlador.UsrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUsr</servlet-name>
        <servlet-class>controlador.UpdateUsr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarRol</servlet-name>
        <servlet-class>controlador.AsignarRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProducto</servlet-name>
        <servlet-class>controlador.addProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStock</servlet-name>
        <servlet-class>controlador.UpdateStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaVenta</servlet-name>
        <servlet-class>controlador.NuevaVenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsrServlet</servlet-name>
        <url-pattern>/UsrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUsr</servlet-name>
        <url-pattern>/UpdateUsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarRol</servlet-name>
        <url-pattern>/AsignarRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProducto</servlet-name>
        <url-pattern>/addProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStock</servlet-name>
        <url-pattern>/UpdateStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaVenta</servlet-name>
        <url-pattern>/NuevaVenta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
